// properties for all elements

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

// libs 

@import "../../../scss-libs/fonts";
@import "../../../scss-libs/mixins";
@import "../../../scss-libs/colors";

// elements

@import "../../../scss-elements/animation-translateY";
@import "../../../scss-elements/button-close";
@import "../../../scss-elements/button";
@import "../../../scss-elements/container";
@import "../../../scss-elements/hidden";
@import "../../../scss-elements/input";
@import "../../../scss-elements/logo-link";
@import "../../../scss-elements/modal-window";
@import "../../../scss-elements/social-link";
@import "../../../scss-elements/text";
@import "../../../scss-elements/title-with-line";
@import "../../../scss-elements/title";

// blocks

@import "../../../modules/payment-form/payment-form";
@import "../../../modules/main-nav/main-nav";
@import "../../../modules/mobile-nav/mobile-nav";
@import "../../../modules/header/header";
@import "../../../modules/types-of-edu/types-of-edu";
@import "../../../modules/languages/languages";
@import "../../../modules/why-us/why-us";
@import "../../../modules/trial-lesson-form/trial-lesson-form";
@import "../../../modules/for-child-for-adult/for-child-for-adult";
@import "../../../modules/smart/smart";
@import "../../../modules/steps/steps";
@import "../../../modules/footer/footer";