$dark-green: rgb(35, 105, 103);
$dark-green-active: rgb(23, 86, 84);
$light-green: rgb(97, 181, 169);
$orange: rgb(252, 139, 76);
$red: rgb(254, 113, 103);
$red-active: rgb(194, 90, 83);
$yellow: rgb(255, 204, 26);
$sand: rgb(255, 236, 160);
$light-yellow: rgb(255, 251, 237);
$beige: rgb(253, 233, 212);
$dark-grey: rgb(54, 54, 54);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);