.button {
    width: 232px;
    height: 54px;
    border-radius: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: $white;
    background: $dark-red;
    border: none;
    cursor: pointer;
    transition: .1s all ease-in-out;

    &:hover {
        background: $dark-red-active;
    }

    &:active {
        box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.15);
    }

    @include media-s {
        width: 213px;
    }
}

.button_shorter {
    width: 170px;
}

.button_shortest {
    width: 153px;
}