$dark-red: #B60D00;
$dark-red-active: #a50b00;
$salmon: #EE746A;
$purple: #6B356E;
$purple-active: #4e2650;
$light-pink: #F8C4ED;
$light-red: #F77E72;
$light-orange: #FFBDA2;
$light-lemon: #FFFFD7;
$dark-grey: #363636;
$black: #000000;
$white: #FFFFFF;