$dark-green: rgb(35, 105, 103); //#236967 -> #B60D00 DONE
$dark-green-active: rgb(23, 86, 84); // DONE
$light-green: rgb(97, 181, 169); // #EE746A DONE
$orange: rgb(252, 139, 76); //#FC8B4C -> #6B356E DONE
$red: rgb(254, 113, 103); //#FE7167 -> #F8C4ED DONE
$red-active: rgb(194, 90, 83);
$yellow: rgb(255, 204, 26); //#FFCC1A -> #F77E72 DONE
$sand: rgb(255, 236, 160); //#FFECA0 -> #FFBDA2 DONE
$light-yellow: rgb(255, 251, 237); //#FFFBED -> #FFFFD7 DONE
$beige: rgb(253, 233, 212); //#FDE9D4 -> #FFEF93 ???
$dark-grey: rgb(54, 54, 54);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

//======================================
$dark-red: #B60D00; //DONE
$dark-red-active: #a50b00; // DONE
$salmon: #EE746A; //DONE
$purple: #6B356E; //DONE
$purple-active: #4e2650;
$light-pink: #F8C4ED; //DONE

$light-red: #F77E72; //DONE
$light-orange: #FFBDA2; //DONE
$light-lemon: #FFFFD7; //DONE
$sand: #FFEF93; //???