.trial-lesson-banner {

    &__article {
        width: 100%;
        @include flex-builder(row, space-around, center);
        padding-top: 67px;
        padding-bottom: 67px;
        background: $light-lemon;
        border-radius: 70px;

        @media (max-width: 890px) {
            padding-right: 50px;
        }

        @include media-s {
            padding-right: 0;
            @include flex-builder(column, none, center);
        }
    }

    &__content {
        width: 300px;
        @include flex-builder(column, none, none);

        @include media-s {
            margin-bottom: 72px;
            align-items: center;
        }

        @media (max-width: 360px) {
            width: 90%;
        }

        &_for-adult {
            width: 420px;

            @include media-m {
                width: 50%;
                margin-right: 30px;
            }

            @include media-s {
                margin-right: 0;
                width: 80%;
            }
        }
    }

    &__text_small {
        margin-top: 30px;

        @include media-xs {
            font-size: 14px;
        }
    }

    &__title-with-line {
        @include media-s {
            text-align: center;
        }
    }

    &__button {
        margin-top: 40px;

        @include media-s {
            margin-top: 30px;
        }
    }

    &__svg {
        width: 20%;

        @include media-m {
            width: 25%;
        }

        @include media-s {
            width: 40%;
        }

        @include media-xs {
            width: 60%;
        }

        @media (max-width: 360px) {
            width: 80%;
        }
    }
}