// properties for all elements

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

// libs 

@import "../../../scss_libs/fonts";
@import "../../../scss_libs/mixins";
@import "../../../scss_libs/colors";

// elements

@import "../../../scss_elements/button-close";
@import "../../../scss_elements/button";
@import "../../../scss_elements/container";
@import "../../../scss_elements/hidden";
@import "../../../scss_elements/input";
@import "../../../scss_elements/logo-link";
@import "../../../scss_elements/modal-window";
@import "../../../scss_elements/social-link";
@import "../../../scss_elements/text";
@import "../../../scss_elements/title-with-line";
@import "../../../scss_elements/title";

// blocks

@import "../../../modules/header/header";