.types-of-edu-wrapper {
    display: flex;

    margin-top: 100px;

    @include media-s {
        margin-top: 80px;
        @include flex-builder(column, none, center);
    }

    &__link {
        margin-right: 12%;
        text-decoration: none;
        position: relative;

        @include media-s {
            margin-right: 0;
            margin-bottom: 40px;
        }
    }

    &__text {
        font-family: "NEXT ART", sans-serif;
        font-weight: 900;
        font-size: 24px;
        line-height: 34px;
        color: $black;
        position: absolute;
        left: 90px;
        background: $light-lemon;
        letter-spacing: 0.02em;
        padding-left: 2px;

        @include media-xs {
            font-size: 20px;
        }

        &_top {
            bottom: 43px;
        }

        &_bottom {
            bottom: 0;
        }
    }
}