@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Jost:wght@300;900&family=Montserrat:wght@400;600&family=Raleway:wght@300;400;500;600;700;800&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: "JOURNALISM";
  src: url("../fonts/JOURNALISM/JOURNALISM.eot");
  src: local("JOURNALISM"), url("../../../fonts/JOURNALISM/JOURNALISM.eot?#iefix") format("embedded-opentype"), url("../../../fonts/JOURNALISM/JOURNALISM.woff2") format("woff2"), url("../../../fonts/JOURNALISM/JOURNALISM.woff") format("woff"), url("../../../fonts/JOURNALISM/JOURNALISM.ttf") format("truetype");
}
@font-face {
  font-family: "NEXT ART";
  src: url("../../../fonts/NEXT-ART/NEXT-ART_Light.otf");
  src: url("../../../fonts/NEXT-ART/NEXT-ART_SemiBold.otf");
  src: url("../../../fonts/NEXT-ART/NEXT-ART_Bold.otf");
  src: url("../../../fonts/NEXT-ART/NEXT-ART_Heavy.otf");
}
@font-face {
  font-family: "icon-font";
  src: url("../../../fonts/Icon-Font/icon-font.eot?qkxsc");
  src: url("../../../fonts/Icon-Font/icon-font.eot?qkxsc#iefix") format("embedded-opentype"), url("../../../fonts/Icon-Font/icon-font.ttf?qkxsc") format("truetype"), url("../../../fonts/Icon-Font/icon-font.woff?qkxsc") format("woff"), url("../../../fonts/Icon-Font/icon-font.svg?qkxsc#icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i {
  font-family: "icon-font" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vk:before {
  content: "\e904";
}

.icon-phone:before {
  content: "\e906";
}

.icon-facebook:before {
  content: "\e902";
}

.icon-check:before {
  content: "\e901";
}

.icon-arrow-down:before {
  content: "\e900";
}

.icon-instagram:before {
  content: "\e903";
}

.icon-viber:before {
  content: "\e905";
}

.button-close {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  letter-spacing: 0.02em;
  text-decoration: underline;
  border: none;
  background: none;
  transition: 0.05s all ease-in-out;
}
.button-close:hover {
  transform: scale(1.05);
}

.button {
  width: 232px;
  height: 54px;
  border-radius: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: rgb(255, 255, 255);
  background: rgb(35, 105, 103);
  border: none;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
}
.button:hover {
  background: rgb(23, 86, 84);
}
.button:active {
  box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.15);
}
@media (max-width: 768px) {
  .button {
    width: 213px;
  }
}

.button_shorter {
  width: 170px;
}

.button_shortest {
  width: 153px;
}

.container {
  padding-left: 17.1875%;
  padding-right: 17.1875%;
}
@media (max-width: 1360px) {
  .container {
    padding-left: 12%;
    padding-right: 12%;
  }
}
@media (max-width: 1024px) {
  .container {
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (max-width: 576px) {
  .container {
    padding-left: 3%;
    padding-right: 3%;
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(255, 236, 160);
  padding: 0 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: rgb(54, 54, 54);
  transition: 0.1s all ease-in-out;
}
.input:hover {
  box-shadow: 0px 2px 4px rgb(255, 236, 160);
}
.input:focus {
  box-shadow: 0px 2px 4px rgb(255, 236, 160);
  outline: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

.input_shorter {
  width: 200px;
}

.logo-link:hover .logo-fill {
  fill: rgb(254, 113, 103);
  transition: 0.2s all ease-in-out;
}
.logo-link:hover .logo-stroke {
  fill: rgb(254, 113, 103);
  stroke: rgb(254, 113, 103);
  transition: 0.2s all ease-in-out;
}

.logo-fill {
  fill: rgb(35, 105, 103);
}

.logo-stroke {
  fill: #216D6B;
  stroke: rgb(35, 105, 103);
}

.modal-window {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: 0.07s all ease-in-out;
}
.modal-window__background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: -1;
}

.social-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  transition: 0.05s all ease-in-out;
}
.social-link:hover {
  color: rgb(254, 113, 103);
}
.social-link:active {
  color: rgb(194, 90, 83);
}

.text {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: rgb(54, 54, 54);
  line-height: 30px;
}
.text_small {
  font-weight: 300;
  font-size: 16px;
  color: rgb(54, 54, 54);
  letter-spacing: 0.02em;
  line-height: 26px;
}
.text_blue {
  color: rgb(35, 105, 103);
}
.text_black {
  color: rgb(0, 0, 0);
}

.title-with-line {
  font-family: "NEXT ART", sans-serif;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 0.02em;
}
@media (max-width: 576px) {
  .title-with-line {
    font-size: 20px;
  }
}
.title-with-line__line {
  box-shadow: 0 -12px 0 rgb(255, 236, 160) inset;
}
@media (max-width: 576px) {
  .title-with-line__line {
    box-shadow: 0 -10px 0 rgb(255, 236, 160) inset;
  }
}

.title {
  font-family: "NEXT ART", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 50px;
  letter-spacing: 0.02em;
  font-feature-settings: "kern" off;
  color: rgb(0, 0, 0);
}
@media (max-width: 1360px) {
  .title {
    font-size: 44px;
  }
}
@media (max-width: 1024px) {
  .title {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 30px;
  }
}
@media (max-width: 320px) {
  .title {
    font-size: 26px;
  }
}

.title_small {
  font-size: 24px;
}

.title_smaller {
  font-size: 22px;
  font-weight: 700;
}

.header-wrapper {
  margin-top: 60px;
}
.header-wrapper_for-adult {
  margin-bottom: 100px;
}
@media (max-width: 1360px) {
  .header-wrapper {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .header-wrapper {
    margin-top: 143px;
    margin-bottom: 80px;
  }
}
.header-wrapper__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header-wrapper__header {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
  }
}
.header-wrapper__button {
  margin-top: 40px;
}
@media (max-width: 1360px) {
  .header-wrapper__button {
    margin-top: 25px;
  }
}
@media (max-width: 1024px) {
  .header-wrapper__button {
    margin-top: 20px;
  }
}
.header-wrapper__interactive-block {
  margin-top: 70px;
  width: 52.78%;
}
@media (max-width: 1360px) {
  .header-wrapper__interactive-block {
    margin-top: 50px;
  }
}
@media (max-width: 1024px) {
  .header-wrapper__interactive-block {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .header-wrapper__interactive-block {
    margin-top: 0;
    margin-bottom: 40px;
    width: 80%;
    align-self: center;
  }
}
@media (max-width: 576px) {
  .header-wrapper__interactive-block {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header-wrapper__title {
    width: 100%;
  }
}
.header-wrapper__text {
  margin-top: 20px;
  font-size: 22px;
}
@media (max-width: 768px) {
  .header-wrapper__text {
    font-size: 20px;
  }
}
.header-wrapper__picture-block {
  width: 44.45%;
  position: relative;
}
.header-wrapper__picture-block_for-adult {
  width: 46.03%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: none;
  align-items: none;
}
@media (max-width: 768px) {
  .header-wrapper__picture-block {
    width: 80%;
    align-self: center;
  }
}
@media (max-width: 576px) {
  .header-wrapper__picture-block {
    width: 100%;
  }
}
.header-wrapper__additional-picture {
  position: absolute;
  bottom: 0;
  left: 46px;
  width: 60.08%;
}
.header-wrapper__additional-picture_children-offline {
  width: 62.22%;
  left: 6.79%;
  bottom: 4px;
  z-index: -1;
}
.header-wrapper__additional-picture_for-adult {
  width: 51.72%;
  left: 0;
  bottom: 0;
}
.header-wrapper__picture {
  width: 100%;
}
.header-wrapper__picture_for-adult {
  width: 72.41%;
}

.types-of-edu-wrapper {
  display: flex;
}
@media (max-width: 768px) {
  .types-of-edu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
  }
}
.types-of-edu-wrapper__link {
  margin-right: 10%;
  text-decoration: none;
  position: relative;
}
@media (max-width: 768px) {
  .types-of-edu-wrapper__link {
    margin-right: 0;
    margin-bottom: 40px;
  }
}
@media (max-width: 1024px) {
  .types-of-edu-wrapper__img {
    width: 160px;
  }
}
.types-of-edu-wrapper__text {
  font-family: "NEXT ART", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 34px;
  color: rgb(0, 0, 0);
  position: absolute;
  left: 71px;
  background: rgb(255, 255, 255);
  letter-spacing: 0.02em;
  padding-left: 2px;
}
@media (max-width: 576px) {
  .types-of-edu-wrapper__text {
    font-size: 20px;
  }
}
.types-of-edu-wrapper__text_top {
  bottom: 43px;
}
.types-of-edu-wrapper__text_bottom {
  bottom: 0;
}

.languages-wrapper {
  margin-top: 100px;
}
@media (max-width: 768px) {
  .languages-wrapper {
    margin-top: 80px;
  }
}
.languages-wrapper__article {
  width: 100%;
  height: 274px;
  background: rgb(255, 251, 237);
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .languages-wrapper__article {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 65px;
  }
}
.languages-wrapper__title-with-line {
  margin-bottom: 40px;
  width: 834px;
  text-align: left;
}
@media (max-width: 1360px) {
  .languages-wrapper__title-with-line {
    width: 700px;
  }
}
@media (max-width: 1024px) {
  .languages-wrapper__title-with-line {
    width: 640px;
  }
}
@media (max-width: 768px) {
  .languages-wrapper__title-with-line {
    width: 90%;
    padding-left: 50px;
  }
}
@media (max-width: 576px) {
  .languages-wrapper__title-with-line {
    padding-left: 0;
  }
}
.languages-wrapper__languages-block {
  width: 834px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1360px) {
  .languages-wrapper__languages-block {
    width: 700px;
  }
}
@media (max-width: 1024px) {
  .languages-wrapper__languages-block {
    width: 640px;
  }
}
@media (max-width: 768px) {
  .languages-wrapper__languages-block {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
    gap: 30px 0;
  }
}
@media (max-width: 576px) {
  .languages-wrapper__languages-block {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
.languages-wrapper__language-block {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
}
@media (max-width: 768px) {
  .languages-wrapper__language-block {
    padding-left: 50px;
  }
}
@media (max-width: 576px) {
  .languages-wrapper__language-block {
    padding-left: 19.7%;
  }
}
.languages-wrapper__img {
  margin-right: 30px;
}
@media (max-width: 1360px) {
  .languages-wrapper__img {
    margin-right: 15px;
  }
}
@media (max-width: 1024px) {
  .languages-wrapper__img {
    margin-right: 10px;
  }
}

.why-us-wrapper {
  width: 100%;
  margin: 150px 0 140px 0;
}
@media (max-width: 768px) {
  .why-us-wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
.why-us-wrapper__article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
}
@media (max-width: 1150px) {
  .why-us-wrapper__article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 0;
  }
}
.why-us-wrapper__text-block {
  min-width: 340px;
  width: 27%;
}
@media (max-width: 1480px) {
  .why-us-wrapper__text-block {
    min-width: auto;
  }
}
@media (max-width: 1150px) {
  .why-us-wrapper__text-block {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
.why-us-wrapper__title-with-line {
  margin-bottom: 30px;
}
.why-us-wrapper__advantages-block-small {
  width: 243px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: none;
}
@media (max-width: 1480px) {
  .why-us-wrapper__advantages-block-small {
    width: 233px;
  }
}
@media (max-width: 768px) {
  .why-us-wrapper__advantages-block-small {
    width: 100%;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
.why-us-wrapper__advantages-block-big {
  width: 350px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: none;
}
@media (max-width: 1480px) {
  .why-us-wrapper__advantages-block-big {
    width: 340px;
  }
}
@media (max-width: 768px) {
  .why-us-wrapper__advantages-block-big {
    width: 100%;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
.why-us-wrapper__advantage-block {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
}
@media (max-width: 768px) {
  .why-us-wrapper__advantage-block {
    margin-bottom: 20px;
  }
}
.why-us-wrapper__img {
  margin-right: 40px;
}
@media (max-width: 1360px) {
  .why-us-wrapper__img {
    margin-right: 30px;
  }
}

.for-child-for-adult-wrapper__content-block {
  width: 100%;
  margin-top: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
}
@media (max-width: 1480px) {
  .for-child-for-adult-wrapper__content-block {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .for-child-for-adult-wrapper__content-block {
    margin-top: 80px;
  }
}
@media (max-width: 1480px) {
  .for-child-for-adult-wrapper__content-block_bottom {
    flex-direction: column-reverse;
    margin-top: 50px;
  }
}
@media (max-width: 1480px) {
  .for-child-for-adult-wrapper__img {
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .for-child-for-adult-wrapper__img {
    width: 100%;
  }
}
@media (max-width: 1480px) {
  .for-child-for-adult-wrapper__text-block {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .for-child-for-adult-wrapper__text-block {
    width: 100%;
  }
}
.for-child-for-adult-wrapper__title-with-line {
  margin-bottom: 30px;
}
.for-child-for-adult-wrapper__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  width: 413px;
}
@media (max-width: 1480px) {
  .for-child-for-adult-wrapper__columns {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .for-child-for-adult-wrapper__columns {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
  }
}
.for-child-for-adult-wrapper__columns_bottom {
  width: 455px;
}
@media (max-width: 1480px) {
  .for-child-for-adult-wrapper__columns_bottom {
    width: 100%;
  }
}
@media (max-width: 1480px) {
  .for-child-for-adult-wrapper__column {
    width: 40%;
  }
}
@media (max-width: 576px) {
  .for-child-for-adult-wrapper__column {
    width: 70%;
  }
}
@media (max-width: 576px) {
  .for-child-for-adult-wrapper__column_top {
    margin-bottom: 20px;
  }
}
.for-child-for-adult-wrapper__text_black {
  margin-bottom: 20px;
}
@media (max-width: 1480px) {
  .for-child-for-adult-wrapper__text_black {
    text-align: center;
  }
}
.for-child-for-adult-wrapper__check-mark-block {
  display: flex;
  margin-bottom: 14px;
}
.for-child-for-adult-wrapper__icon {
  padding-top: 9px;
  font-size: 8px;
  margin-right: 10px;
}

.smart-wrapper {
  margin-top: 140px;
  margin-bottom: 97px;
  padding: 0 26.8% 0 26.8%;
}
@media (max-width: 1360px) {
  .smart-wrapper {
    padding: 0 19% 0 19%;
  }
}
@media (max-width: 1024px) {
  .smart-wrapper {
    padding: 0 9% 0 9%;
  }
}
@media (max-width: 768px) {
  .smart-wrapper {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
@media (max-width: 576px) {
  .smart-wrapper {
    padding-left: 3%;
    padding-right: 3%;
  }
}
.smart-wrapper__title-with-line {
  margin-bottom: 30px;
}
.smart-wrapper__text_small {
  width: 427px;
  margin-bottom: 34px;
}
@media (max-width: 768px) {
  .smart-wrapper__text_small {
    width: 100%;
  }
}
.smart-wrapper__smart-letters-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
}
@media (max-width: 768px) {
  .smart-wrapper__smart-letters-block {
    display: none;
  }
}
.smart-wrapper__smart-letters-block-mobile {
  width: 100%;
  display: none;
}
@media (max-width: 768px) {
  .smart-wrapper__smart-letters-block-mobile {
    display: block;
  }
}
.smart-wrapper__smart-letters-block-row-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
}
.smart-wrapper__smart-letters-block-row-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
}
.smart-wrapper__smart-letter-block {
  position: relative;
  text-align: center;
}
.smart-wrapper__smart-letter {
  font-family: "Jost", sans-serif;
  font-weight: 900;
  font-size: 90px;
  letter-spacing: 0.5px;
  color: rgb(255, 236, 160);
}
@media (max-width: 576px) {
  .smart-wrapper__smart-letter {
    font-size: 80px;
  }
}
.smart-wrapper__text-block {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  width: 140px;
}
@media (max-width: 576px) {
  .smart-wrapper__text-block {
    width: auto;
  }
}
.smart-wrapper__text_black {
  text-align: center;
}
@media (max-width: 576px) {
  .smart-wrapper__text_black {
    font-size: 16px;
  }
}

.steps-wrapper {
  margin-bottom: 140px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
}
@media (max-width: 768px) {
  .steps-wrapper {
    margin-bottom: 80px;
  }
}
.steps-wrapper__main {
  width: 891px;
}
@media (max-width: 1360px) {
  .steps-wrapper__main {
    width: 100%;
  }
}
.steps-wrapper__example-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .steps-wrapper__example-block {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
  }
}
@media (max-width: 1024px) {
  .steps-wrapper__img {
    width: 55%;
  }
}
@media (max-width: 768px) {
  .steps-wrapper__img {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .steps-wrapper__img {
    width: 100%;
  }
}
.steps-wrapper__text-block {
  width: 435px;
}
@media (max-width: 1360px) {
  .steps-wrapper__text-block {
    width: 42.35%;
  }
}
@media (max-width: 768px) {
  .steps-wrapper__text-block {
    width: 90%;
  }
}
.steps-wrapper__text_black {
  margin-bottom: 24px;
}
.steps-wrapper__steps-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px 107px;
}
@media (max-width: 1360px) {
  .steps-wrapper__steps-block {
    gap: 70px 90px;
  }
}
@media (max-width: 1024px) {
  .steps-wrapper__steps-block {
    gap: 60px 6.8%;
  }
}
@media (max-width: 576px) {
  .steps-wrapper__steps-block {
    grid-template-columns: 1fr;
  }
}
.steps-wrapper__step-block {
  position: relative;
  padding-left: 28px;
}
.steps-wrapper__number {
  font-family: "Jost", sans-serif;
  font-weight: 900;
  font-size: 90px;
  letter-spacing: 0.5px;
  color: rgb(255, 236, 160);
  position: absolute;
  top: -45px;
  left: 6px;
  z-index: -1;
}
.steps-wrapper__text_small_width {
  width: 328px;
}
@media (max-width: 1024px) {
  .steps-wrapper__text_small_width {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .steps-wrapper__arrow-down {
    display: none;
  }
}
.steps-wrapper__arrow-down_left {
  transform: scale(-1, 1);
  justify-self: end;
}

/*# sourceMappingURL=index.css.map */